<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028059071908-p5es02aki9irkani9hqicard3nir20pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028059071908-p5es02aki9irkani9hqicard3nir20pe</string>
	<key>API_KEY</key>
	<string>AIzaSyAXgSfit4fJc6oWcAy15FTc1-jCRUkhajc</string>
	<key>GCM_SENDER_ID</key>
	<string>1028059071908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.owlsystem.dev</string>
	<key>PROJECT_ID</key>
	<string>tut-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>tut-fcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028059071908:ios:eff17e8da13c1d9f576d31</string>
	<key>DATABASE_URL</key>
	<string>https://tut-fcm.firebaseio.com</string>
</dict>
</plist>